/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  position: sticky;
  top: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)); /* Gradient background */
  z-index: 1000;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: white;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: black;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
  color: white
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  transition: transform 0.5 ease-in-out;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: max-height 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
  overflow: visible; 
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 200px;
  width: 200px;
  margin: auto 0;
  overflow: hidden;
}

.section__pic-container img {
  width: 100%; /* Ensure the image fits the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Optional: makes the image circular */
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.resume-btn,
.contact-btn{
  border: rgb(53, 53, 53) 0.1rem solid;
}

.contact-btn:hover,
.resume-btn:hover {
  cursor: pointer;
}

.contact-btn,
.resume-btn:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.contact-btn:hover {
  background: white;
  color: black;

}

.resume-btn {
  background: none;
}

.resume-btn:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  width: 200px;  /* Set the desired width */
  height: 200px; /* Set the desired height */
  object-fit: fill; /* Ensures the image covers the entire area */
  border-radius: 0; /* Ensure it’s not rounded */
}
.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  position: relative;
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}


.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 30%;
  height: 30%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: white;
  border-color: black;
  background: black;
}



/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  padding: 2rem 0;
  margin: 8rem;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container a {
  color: grey;
  text-decoration: none; /* Optional: to remove underline */
}

.contact-info-container a:hover {
  color: black;
  text-decoration: underline; /* Optional: to add underline on hover */
}


.contact-info-container p {
  font-size: larger;

}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

/* CONTACT FORM */
.contact-form-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

form {
  display: relative;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
}

label {
  font-weight: 500;
  color: rgb(53, 53, 53);
}

input, textarea {
  padding: 0.5rem;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

textarea {
  width: 103%;
  height: 200px; /* Adjust height as needed */
  padding: 1rem;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 0.5rem;
  box-sizing: border-box; /* Ensure padding is included in width/height */
  font-family: "Poppins", sans-serif; /* Change this to your desired font */
  font-size: 1rem; /* Adjust font size as needed */
  color: black; /* Change text color if needed */
  resize: none;
}


.send-message-btn {
  background: rgb(53, 53, 53);
  color: white;
  border: none;
  cursor: pointer;
  padding: 1rem;
  border-radius: 2rem;
}

.send-message-btn:hover {
  background: white;
  color: black;
  border: rgb(53, 53, 53) 0.1rem solid;
}


/* FOOTER SECTION */

footer {
  height: 26vh;
  background-color: black; /* Set a distinct background color for the footer */
  color: white; /* Text color for better readability */
  padding: 2rem 0; /* Add some padding for spacing */
}

footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; /* Spacing between nav and text */
}

footer .nav-links {
  list-style: none;
  display: flex;
  gap: 2rem; /* Space between links */
  font-size: 1rem; /* Adjust font size */
  padding: 0;
}

footer .nav-links a {
  color: white;
  text-decoration: none;
}

footer .nav-links a:hover {
  color: rgb(181, 181, 181); /* Hover effect for links */
  text-decoration: underline;
}

footer p 
{
  text-align: center;
  margin-top: 1rem; /* Space above the text */
  font-size: 1.3rem; /* Adjust font size*/
}
